<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>156034352246-hpomhjumm8g8dlpmid8q0u0ditt6d4q0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.156034352246-hpomhjumm8g8dlpmid8q0u0ditt6d4q0</string>
	<key>API_KEY</key>
	<string>AIzaSyCb775ZTjCSpUJ8GH0tjOkRjVoOAG6qJ9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>156034352246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.developersden.BoatClient</string>
	<key>PROJECT_ID</key>
	<string>boat-user</string>
	<key>STORAGE_BUCKET</key>
	<string>boat-user.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156034352246:ios:c3a00fdccaf308c2c08b57</string>
	<key>DATABASE_URL</key>
	<string>https://boat-user.firebaseio.com</string>
</dict>
</plist>